@import "tailwindcss";

button {
    cursor: pointer;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --muted-background: #1f1e1e;
}

@theme inline {
    --font-oswald: var(--font-oswald);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-space-grotesk: var(--font-space-grotesk);
    --color-muted-background: var(--muted-background);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-space-grotesk), sans-serif;
}
